.app__agency {
    flex: 1;
    width: 100%;
    flex-direction: column;


}

.app__agency-title-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh 0;

    h1 {
        font-size: 8vh;
        font-family: "Montserrat-SemiBold";
        letter-spacing: -0.5vh;
    }
}


.app__agency-blocks {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__agency-title-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(180deg);
    flex-direction: column-reverse;

    h1 {
        font-size: 8vh;
        color: var(--gray-color);
        font-family: "Montserrat-SemiBold";
        letter-spacing: -0.5vh;
        opacity: 0.2;
    }

    svg {
        filter: invert(44%) sepia(28%) saturate(255%) hue-rotate(178deg) brightness(96%) contrast(87%);
    }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .app__agency-title-top {

        h1 {
            font-size: 4vh;
        }
    }

    .app__agency-title-bottom {

        h1 {
            font-size: 4vh;
        }
    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .app__agency-title-top {

        h1 {
            font-size: 6vh;
        }
    }

    .app__agency-title-bottom {

        h1 {
            font-size: 6vh;
        }
    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1024px) {
    .app__agency-title-top {

        h1 {
            font-size: 8vh;
        }
    }

    .app__agency-title-bottom {

        h1 {
            font-size: 8vh;
        }
    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {
    .app__agency-title-top {

        h1 {
            font-size: 8vh;
        }
    }
}

/* Extra large screens, TV */
@media (min-width : 1201px) {}