.app__agency-digital {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FAFAFA;
    overflow: hidden;
}

.app__agency-digital-image {
    width: 100%;
    flex: 1;
    height: 100vh;

    img {
        width: 100%;
        height: 100%;
        max-height: 100vh;
        object-fit: cover;
        object-position: center center;
    }
}

.app__agency-digital-text {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;

    div {
        width: 100%;
        padding: 7vh;

        .app__agency-digital-title {
            h1 {
                font-family: 'Montserrat-Bold';
                font-size: 8vh;
                text-transform: capitalize;
                line-height: 5vh;
                width: 100%;
            }

            h2 {
                font-family: 'Montserrat-Medium';
                font-size: 4vh;
                text-transform: capitalize;
                line-height: 6vh;
                width: 100%;
            }
        }

        ul {
            padding: 5vh;
            width: 100%;

            li {
                list-style: none;
                font-family: 'Montserrat-Medium';
                font-size: 4vh;
                text-transform: capitalize;
                margin: 2vh 0;
            }
        }
    }

}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Mobile devices */
@media (min-width : 220px) and (max-width : 480px) {
    .app__agency-digital {
        flex-direction: column;
        ;
    }

    .app__agency-digital-image {
        flex: 2 !important;
    }

    .app__agency-digital-text {
        div {
            padding: 1vh;

            .app__agency-digital-title {
                text-align: center;

                h1 {
                    font-size: 6vh;
                    line-height: 5vh;
                }

                h2 {
                    font-size: 2.3vh;
                    line-height: 3vh;
                }
            }

            ul {
                padding: 2vh;
                width: 100%;

                li {
                    list-style: none;
                    font-family: 'Montserrat-Medium';
                    text-transform: capitalize;
                    font-size: 2vh;
                    line-height: 3vh;
                    margin: 2vh 0;
                }
            }
        }

    }
}

/* iPads, Tablets */
@media (min-width : 481px) and (max-width : 768px) {
    .app__agency-digital {
        flex-direction: column;
        ;
    }

    .app__agency-digital-text {
        div {
            padding: 1vh;

            .app__agency-digital-title {
                text-align: center;

                h1 {
                    font-size: 7vh;
                    line-height: 5vh;
                }

                h2 {
                    font-size: 2.5vh;
                    line-height: 3vh;
                }
            }

            ul {
                padding: 2vh;
                width: 100%;

                li {
                    list-style: none;
                    font-family: 'Montserrat-Medium';
                    text-transform: capitalize;
                    font-size: 2.5vh;
                    margin: 2vh 0;
                }
            }
        }

    }
}

/* Small screens, laptops */
@media (min-width : 769px) and (max-width : 1024px) {
    .app__agency-digital {
        flex-direction: column;
        ;
    }

    .app__agency-digital-text {
        div {
            padding: 1vh;

            .app__agency-digital-title {
                text-align: center;

                h1 {
                    font-size: 7vh;
                    line-height: 5vh;
                }

                h2 {
                    font-size: 2.5vh;
                    line-height: 3vh;
                }
            }

            ul {
                padding: 2vh;
                width: 100%;

                li {
                    list-style: none;
                    font-family: 'Montserrat-Medium';
                    text-transform: capitalize;
                    font-size: 2.5vh;
                    line-height: 3vh;
                    margin: 2vh 0;
                }
            }
        }

    }
}

/* Desktops, large screens */
@media (min-width : 1025px) and (max-width : 1200px) {}

/* Extra large screens, TV */
@media (min-width : 1201px) {}