@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("./assets/fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: "Helvetica-Neue";
  src: url("./assets/fonts/HelveticaNeue-Medium.otf");
}

:root {
  --font-base: "Montserrat-Regular", "DM Sans", sans-serif;

  --primary-color: #131313;
  --secondary-color: #6b7688;
  --black-color: #030303;
  --lightGray-color: #f2f2f2;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat-Regular";
}
